/* FONT IMPORT - GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,600&display=swap');

/* RULES FOR FONTS */
/* font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif; */

/* VARIABLES */
:root {
  --clr-drk-gray: #31393cff;
  --clr-med-blue: rgb(20, 32, 141);
  --clr-lit-white: #f7fff7ff;
  --clr-accent: #ca9ce1ff;
  --clr-lit-blue: #49b6ffff;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-lit-white);
}

a {
  text-decoration: none;
  color: var(--clr-lit-blue);
  font-family: 'Poppins', sans-serif;
}

.fab,
.far,
.fas {
  font-weight: 600;
}

/* UTILITY CLASSES */

.wrapper {
  max-width: 80%;
  margin: auto;
}

/* BORDERS FOR LAYOUT CONSTRUCTION */
.border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid blue;
}
.border3 {
  border: 1px solid green;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
  background-color: var(--clr-med-blue);
  color: var(--clr-lit-white);
  border-bottom: 1px solid var(--clr-accent);
  border-radius: 0 0 2px 2px;
}

.header__logo {
  font-family: 'Poiret One', sans-serif;
  padding: 0.6em;
  font-size: 1.1rem;
  align-self: center;
}

.header__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 0.7em;
}

/* MAIN */

main {
  background-color: var(--clr-drk-gray);
}

/* HERO */

.hero {
  padding-top: 1.7em;
  padding-bottom: 1em;
}

.hero h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.2rem;
}

.hero img {
  border-radius: 13px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.hero__title {
  position: absolute;
  top: 8%;
  right: 10%;
  text-align: right;
  color: #fff;
}

.hero__title span {
  font-weight: 800;
}

.hero__desc {
  position: relative;
  left: 35%;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: bold;
}

/* ABOUT SECTION */
.about__span {
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--clr-lit-blue);
  font-size: 1.2rem;
}

.about li {
  list-style-type: none;
}

.about h2 {
  color: var(--clr-lit-blue);
  font-weight: 300;
}

#serious__span {
  font-weight: 600;
  color: var(--clr-lit-blue);
}

/* PROJECTS */

.projects h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.3em 0 0.6em 0;
  color: var(--clr-accent);
}

.projects h3 {
  text-transform: uppercase;
  color: var(--clr-lit-white);
}

.projects h4 {
  text-transform: uppercase;
}

.projects a {
  text-decoration: underline;
  color: var(--clr-drk-gray);
}

.project__box {
  display: flex;
  flex-direction: column;
}

.project__card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px var(--clr-accent);
  margin-bottom: 1rem;
  background-color: var(--clr-lit-blue);
  color: var(--clr-drk-gray);
}

.project__card__text {
  line-height: 1.2;
  padding: 1rem;
}

.project__card__tech {
  margin-left: 1em;
}

.project__card__tech li {
  list-style-type: none;
  font-weight: 500;
}

.project__card img {
  border-radius: 2rem;
  padding: 1em 0.5em 0.5em 0.5em;
}

.project__card__text i {
  padding: 0 0.3em 0.4em 0;
}

/* CONTACT */

.contact {
  padding: 1em 0 1.5em 0;
  color: var(--clr-drk-gray);
  border-radius: 3px 3px 0 0;
}

.contact h2 {
  text-align: center;
  padding-bottom: 0.3em;
  font-size: 2rem;
  color: var(--clr-accent);
  text-shadow: 1px 1px 2px black;
}

.contact a {
  margin-left: 1rem;
  color: var(--clr-lit-blue);
  display: inline;
}

.contact__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
  text-transform: uppercase;
  font-size: 1.2rem;
  max-width: 80%;
  margin: auto;
}

.contact__links i,
.contact__links a {
  font-weight: 500;
  color: var(--clr-lit-blue);
}

/* FOOTER */
footer {
  background-color: var(--clr-med-blue);
  padding: 1em 0;
  text-align: center;
  font-size: 0.7rem;
}
